LM_ComplexType_Jonathan_Enriquez.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="Biblioteca">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="libro">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="titulo" type="xs:string"/>
                            <xs:element name="autor" type="xs:string"/>
                            <xs:element name="fecha_publicacion">
                                <xs:simpleType>
                                    <xs:restriction base="xs:date">
                                        <xs:pattern value="\d{4}-\d{2}-\d{2}"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="genero">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="Ficcion"/>
                                        <xs:enumeration value="No Ficcion"/>
                                        <xs:enumeration value="Ciencia Ficcion"/>
                                        <xs:enumeration value="Fantasía"/>
                                        <xs:enumeration value="Misterio"/>
                                        <xs:enumeration value="Biografía"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="editorial">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="nombre" type="xs:string"/>
                                        <xs:element name="direccion" type="xs:string"/>
                                        <xs:element name="contacto">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="nombre" type="xs:string"/>
                                                    <xs:element name="email">
                                                        <xs:simpleType>
                                                            <xs:restriction base="xs:string">
                                                                <xs:pattern value="\b[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}\b"/>
                                                            </xs:restriction>
                                                        </xs:simpleType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="resumen" type="xs:string">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="100"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="notas">
                                <xs:complexType>
                                    <xs:attribute name="pagina" type="xs:integer" use="optional"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
